.form {
  width: 330px;
  padding: 9px;
  border: 1px solid #929292;
  border-radius: 9px;
}

.label {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}

.button {
  padding: 5px;
  color: rgba(145, 145, 145, 0.3);

  background-color: rgba(250, 240, 230, 0.2);

  border: 1px solid rgba(250, 240, 230, 0.2);
  border-radius: 10px;
  font-weight: 500;

  &:enabled {
    border: 1px solid rgba(145, 145, 145, 1);
    color: rgba(145, 145, 145, 1);

    &:hover,
    :focus {
      background-color: rgba(0, 150, 100, 0.12);
      color: rgba(0, 150, 100, 1);
      border: 1px solid rgba(0, 150, 100, 1);
    }
  }
}
